/* Basic Css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,a,p{
  text-decoration: none;

}
a{
  color: var(--dark-gray);
  &:hover{
    color: var(--theme-color);
  }
}
:root {
  --theme-color: #ea5c1f;
  --gray-color: #4f5d75;
  --light-gray: #d6d7d7;
  --dark-gray: #212431;
}

/* Custome Inputs */
input{
  height: 50px;
}
.form-control:focus{
  box-shadow: none;
  border-radius: 0;
  border-color: var(--light-gray);
  border-bottom:1px solid var(--theme-color);
}
section {
  padding: 70px 0;
}
.navbar-brand{
  font-size: calc(-1.4srem + 2vw);
}
.theme-color{
  color: var(--theme-color);

}
.theme-btn {
  height: 40px;
  line-height: 40px;
  background: var(--theme-color);
  border: 1px solid transparent;
  outline: none;
  padding: 0 40px;
  color: white;
  font-weight: 600;
  border-radius: 10px;

  &:hover {
    background: white;
    color: var(--theme-color);
    border: 1px solid var(--theme-color);
    box-shadow: 0 0 10px var(--theme-color);
  }

  &.outline {
    background: white;
    color: var(--theme-color);
    border-color: var(--theme-color);

    &:hover {
      background: var(--theme-color);
      color: white;

    }
  }
}

.page-title{
  background-color: var(--dark-gray);
  color: white;
}
.breadcrumb{
  padding: 5px 0 5px 0;
}
.breadcrumb li a{
  color: white;
}
.breadcrumb-item+.breadcrumb-item::before{
  color: white;
}
.breadcrumb-item.active {
  color: var(--theme-color);
}


/* Sec-title */
.sec-title{
  h4{
    font-size: 20px;
    color: var(--theme-color);
   
  }
}

/* Home Css */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--theme-color);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover {
  background-color: var(--gray-color);
}
 
.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 50px;
  overflow-x: hidden;
  background: var(--dark-gray);
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 20s linear infinite;
}

.content {
  line-height: 50px;
  color: white;
}

@keyframes marquee {
  from {
    transform: translateX(150%);
  }

  to {
    transform: translateX(-100%);
  }
}


.home_sec {
  padding: 3vw 0;

  .banner-text {
    h4 {
      color: var(--theme-color);
    }

    .title {
      font-size: calc(2rem + 2vw);
      font-weight: 700;
      line-height: 1.1;
    }
  }
}

/* Service  */

.service-item {
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  transition: all 0.3s ease-in-out;
  padding: 20px 15px;

  &:hover {
    transform: translateY(-5px);
    border-color: var(--theme-color);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 40px rgba(255, 94, 0, 0.087);
  }

  .icon {
    height: 60px;
    width: 60px;
    display: flex;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  h3.heading {
    font-size: 20px;
    width: 70%;
    text-align: end;
  }

  p {
    font-size: 15px;
  }
}

/* About  */
.about_sec {
  .counter-area {
    background-color: var(--theme-color);
    position: relative;
  }

  .counter-area::before {
    content: "";
    position: absolute;
    background-image: url(../public/counter-shape-1.png);
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 250px;
    background-position: center center;
  }
.icon{
    font-size: 35px;
    width: 70px;
    display: inline-block;
    height: 70px;
    line-height: 60px !important;
    background-color: rgb(255, 255, 255);
    color: rgb(7, 15, 77);
    line-height: 70px;
    margin-bottom:10px;
    border-radius: 50%;
  }
  .subheading{
    font-size: 20px;
    font-weight: 600;
    color:white;
  }
.heading, .heading  span{
      font-size: 40px;
      color: white;
  }
  .about-content{
    .badge{
      color: var(--theme-color);
      font-weight: 600;
      font-size: 18px;
    }
  }
  .sec-title{
    font-size: calc(0.4rem + 2vw);
    color: var(--dark-gray);
    font-weight: 600;
    margin-bottom: 30px;
  }
}

/* Offser Css */
.service-card{
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  transition: all 0.3s ease-in-out;
  padding: 35px 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: translateY(-5px);
    border-color: var(--theme-color);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 40px rgba(255, 94, 0, 0.087);
  }
  .icon {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

}

.ourClient_sec{
  .slider-wrapper{
    padding: 30px 0;
    .swiper-slide .client-images{
      display: flex;
      height: 100px;
      justify-content: center;
      padding: 0.67rem;
      border-radius: 10px;
      img{
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    .swiper-slide:hover{
      .client-images{
        cursor: pointer;
      }
    }
  }
}


/* Footer */
.col-md-4:nth-child(even) {
  /* background: blue; */
}
.col-md-4:nth-child(odd) {
  /* background: red; */
}

.nav-link {
  color: var(--gray-color);
}
.nav-link:hover {
  color: var(--theme-color);
  text-decoration: none;
}


footer {
  padding: 2rem 0;
  background-color: var(--dark-gray);
}

.footer-column:not(:first-child) {
  padding-top: 2rem;
}

@media (min-width: 768px) {
  .footer-column:not(:first-child) {
    padding-top: 0rem;
  }
}


.footer-column .nav-item .nav-link {
  padding: 0.1rem 0;
}

.footer-column .nav-item span.nav-link {
  color: var(--gray-color);
}

.footer-column .nav-item span.footer-title {
  font-size: 14px;
  font-weight: 700;
  color: var(--theme-color);
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-column .nav-item .fas {
  margin-right: 0.5rem;
}

.footer-column ul {
  display: inline-block;
}

@media (min-width: 768px) {
  .footer-column ul {
    text-align: left;
  }
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: var(--theme-color);
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: 0;
  background-color: var(--dark-gray);
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}

.career{
  .career-image{
    height: 100px;
    width: 100px;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    img{
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .text{
    text-align: center;
    font-size: 18px;
    color: var(--gray-color);
font-weight: 600;
  }
}

.celebration-slider{
  h3.text-center{
    color: var(--theme-color);
    margin-bottom: 20px;
  }
  .image-wrapper{
    width: 100%;
    height: 550px;
    border-radius: 20px !important;
    overflow: hidden;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.bg-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.548),rgba(0, 0, 0, 0.676)), url(../public/img-bg.jpg);
  background-position: bottom center;
  background-size: cover;
  color: white;
  text-align: center;
  .icon{
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-color);
    font-size: 30px;
    margin: auto;
    margin-bottom: 20px;
  }
}

.bg-theme{
  background: var(--theme-color);
  padding: 40px 0;
  margin-bottom: 70px;
  border-radius: 20px;
  .stats{
    text-align: center;
  }
  .icon{
    height: 100px;
    width: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid var(--gray-color);
    font-size: 35px;
    color: var(--theme-color);
  }
  .num{
    font-size: 40px;
    font-weight: 600;
    color: white;
  }
  .text{
    font-size: 18px;
    font-weight: 600;
    color: white;
  }
}
.num{
  font-size: 40px;
  font-weight: 600;
  color: white;
}
.text{
  font-size: 18px;
  font-weight: 600;
  color: white;
}